#Web Framework
fastapi
uvicorn
python-dotenv

#AI & Agents(Core)
langchain
langchain-openai
langgraph
tavily-python

#Data & Validation 
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary

#Tools & Scrappers
playwright
beautifulsoup4

#Observability
langsmith